#header{
    width: 80%;
    height: 3em;
    margin: auto;
    border: 1px solid #a09e9e;
    padding: 10px;
    box-shadow: 5px 0px 5px #a09e9e;
    background-color: #444444;
    color: white;
}

#container{
    width: 80%;
    padding: 10px;
    border: 1px solid #a09e9e;
    box-shadow: 5px 5px 5px #a09e9e;
    margin: auto;
    height: 500px;
}
#box{
    width: 250px;
    padding: 10px;
    margin: auto;
    height: 250px;
    background-color: #f5f5f5;
    border-radius: 10px;
}
#boxTitle{
    font-size: 20px;
    color: black;
    font-weight: bolder;
}
#loanButton{
    width: 225px;
    margin-top: 20px;
}
#bankButton{
    width: 110px;
    margin-top: 95px;
}
#workButton{
    width: 110px;
    margin-top: 95px;
}
#salary{
    margin-left: 150px;
}
#balance{
    margin-left: 110px;
}
#loanBalance{
    margin-left: 130px;
}
#productBox{
    width: 500px;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    height: 150px;
    background-color: #f5f5f5;
    border-radius: 10px;
}
#buyButton{
    width: 110px;
}
#image{
    width: 80px;
    height: 80px;
}
#specs{
    font-size: 10px;
}